@model IEnumerable<Wunderlist.ViewModels.UserViewModel>

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@foreach (var item in Model)
{
    <div class="modal-title">
        @item.Name
    </div>
}